---
import { FaLinkedinIn } from 'react-icons/fa'
import { FiGithub } from 'react-icons/fi'
import { SiPug } from 'react-icons/si'
---

<header>
  <div class="flex items-center justify-center gap-x-4">
    <span
      class="text-black bg-white/50 w-8 h-8 rounded-full flex items-center justify-center"
      ><SiPug /></span
    >
    <span
      class="text-black bg-white/50 w-8 h-8 rounded-full flex items-center justify-center"
      ><FaLinkedinIn /></span
    >
    <span
      class="text-black bg-white/50 w-8 h-8 rounded-full flex items-center justify-center"
      ><FiGithub /></span
    >
  </div>
</header>
