---
---

<main class="flex justify-center items-center flex-col mt-10 mb-6">
  <img
    class="w-64 h-auto rounded-full mb-8"
    src="/images/julito.jpg"
    alt="Julito photo for presentation section"
  />

  <section class="flex flex-col">
    <span class="text-5xl">Julio Aguilar Montero</span>
    <span class="text-white/50 text-lg">Front end Developer</span>
  </section>
</main>
