---
import BaseHeader from '../components/BaseHeader.astro'
import Header from '../components/Header.astro'
import Body from '../components/Body.astro'
---

<!DOCTYPE html>
<html lang="en">
  <BaseHeader title="Julio's Portfolio" />
  <Body>
    <Header />
  </Body>
</html>
